@use "sass:math";

// Min width page
$minWidth: 320;
// Max width page
$maxWidth: 1440;
// Container Width
$maxWidthContainer: 1047;
$lgWidthContainer: 1224;
$mdWidthContainer: 1088;
$smWidthContainer: 808;

// Container Padding
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

// Adaptive Type:
$responsiveType: 1;

//BreakPoints
$pc: math.div($containerWidth, 16) + em; // PC, laptops, some tablets in horizontal position
$tablet: math.div(991.98, 16) + em; // Tablets, some phones in horizontal position
$mobile: math.div(767.98, 16) + em; // Phones L
$mobileSmall: math.div(479.98, 16) + em; // Phones S
