$mainColor: #1a1a1a;

$blogCardColors: (
  "hover-border": #3c7d46,
  "shadow": #1c1e2214,
  "background": #ffffff,
  "text-color": #484848,
);

$topbarColors: (
  "background": #2c2926,
  "label-color": #fff,
);

$headerColors: (
  "background": #ffffff,
  "sticky-background": #e0e0e0,
  "shadow": #00000080,
  "hover-util": #e5e4e4,
  "header-border": #3c7d46,
);

$footerColors: (
  "background": #ffffff,
  "text-color": #484848,
  "description-color": #767676,
);

$benefitsColors: (
  "background": #ffffff,
  "icon-background": #e49a49,
);

$sendColors: (
  "background": #2c2926,
  "border": #ffffff26,
  "column-color": #ffffff,
);

$worksColors: (
  "icon-background": #e49a49,
);
