$mainColor: #1a1a1a;

$blogCardColors: (
  "hover-border": #3c7d46,
  "shadow": #1c1e2214,
  "background": #ffffff,
  "text-color": #484848,
);

$topbarColors: (
  "background": #2c2926,
  "label-color": #fff,
);
