@use "sass:math";
@use "../settings" as s;

.topbar {
  background: s.get-color(s.$topbarColors, "background");
  padding: s.rem(10);
  @media (max-width: s.em(650)) {
    display: none;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: s.rem(16);
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: s.rem(16);
  }
  &__link {
    svg {
      font-size: s.rem(18);
    }
    @media (max-width: s.$tablet) {
      font-size: s.rem(0);
    }
  }
  &__tools {
    display: flex;
    align-items: center;
    gap: s.rem(24);
  }
  &__dropdown-menu {
    .dropdown-menu {
      &__list {
        width: s.rem(120);
      }
    }
  }
  &__dropdown-field {
    .dropdown-field {
      &__label {
        color: s.get-color(s.$topbarColors, "label-color");
        opacity: 0.7;
      }
    }
  }
}
