@use "sass:math";
@use "../settings" as s;
// Container ======================================================================================================================================================================================================================

@if (s.$responsiveType == 1) {
  [class*="__container"] {
    @if (s.$maxWidthContainer > 0) {
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if (s.$containerPadding > 0) {
      padding: 0 s.rem(math.div(s.$containerPadding, 2));
    }
  }
}

.container {
  &--lg {
    max-width: s.rem(s.$lgWidthContainer);
  }
  &--md {
    max-width: s.rem(s.$mdWidthContainer);
  }
  &--sm {
    max-width: s.rem(s.$smWidthContainer);
  }
}
